<a href="https://colab.research.google.com/github/Jain-Nishkarsh/BITS-ACM-R2-Progress/blob/main/GoogleColabNotebooks/Kaggle_Tabular_Playground_Sep2022_NeuralModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## For Kaggle Competition - {Tabular Playground Series - Sep 2022}
[Link to Competition Page](https://www.kaggle.com/competitions/tabular-playground-series-sep-2022/)

**Incomplete Project**

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [3]:
data = pd.read_csv('/content/drive/MyDrive/ColabFiles/train.csv')
testData = pd.read_csv('/content/drive/MyDrive/ColabFiles/test.csv')

In [4]:
year = []
month = []
datef = []

for i in data['date']:
    x = i.split('-')
    if int(x[0])==2017:
        year.append(0)
    elif int(x[0])==2018:
        year.append(1)
    elif int(x[0])==2019:
        year.append(2)
    elif int(x[0])==2020:
        year.append(3)
    month.append(int(x[1])/12)
    datef.append(int(x[2])/31)

data['year'],data['month'],data['datef'] = year,month,datef

dummyData = pd.get_dummies(data,columns=['country','store','product'])
dummyData = dummyData.drop('row_id',axis=1)

train_x = dummyData
train_x = train_x.drop('date',axis=1)
train_x.rename(columns={'datef':'date'},inplace=True)

train_y = train_x.pop('num_sold')

In [5]:
display(train_x)
display(train_y)

,year,month,date,country_Belgium,country_France,country_Germany,country_Italy,country_Poland,country_Spain,store_KaggleMart,store_KaggleRama,product_Kaggle Advanced Techniques,product_Kaggle Getting Started,product_Kaggle Recipe Book,product_Kaggle for Kids: One Smart Goose
0,0,0.083333,0.032258,1,0,0,0,0,0,1,0,1,0,0,0
1,0,0.083333,0.032258,1,0,0,0,0,0,1,0,0,1,0,0
2,0,0.083333,0.032258,1,0,0,0,0,0,1,0,0,0,1,0
3,0,0.083333,0.032258,1,0,0,0,0,0,1,0,0,0,0,1
4,0,0.083333,0.032258,1,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70123,3,1.000000,1.000000,0,0,0,0,0,1,1,0,0,0,0,1
70124,3,1.000000,1.000000,0,0,0,0,0,1,0,1,1,0,0,0
70125,3,1.000000,1.000000,0,0,0,0,0,1,0,1,0,1,0,0
70126,3,1.000000,1.000000,0,0,0,0,0,1,0,1,0,0,1,0
70127,3,1.000000,1.000000,0,0,0,0,0,1,0,1,0,0,0,1

0        663
1        615
2        480
3        710
4        240
        ...
70123    614
70124    215
70125    158
70126    135
70127    202
Name: num_sold, Length: 70128, dtype: int64

Warning: total number of rows (70128) exceeds max_rows (20000). Limiting to first (20000) rows.

In [6]:
tyear = []
tmonth = []
tdatef = []

for i in testData['date']:
    x = i.split('-')
    tyear.append(0.4)
    tmonth.append(int(x[1])/12)
    tdatef.append(int(x[2])/31)

testData['year'],testData['month'],testData['datef'] = tyear,tmonth,tdatef

dummyData = pd.get_dummies(data,columns=['country','store','product'])
dummyData = dummyData.drop('row_id',axis=1)

test_x = dummyData
test_x = test_x.drop('date',axis=1)
test_x.rename(columns={'datef':'date'},inplace=True)

test_y = test_x.pop('num_sold')

In [16]:
# from tensorflow.python import metrics
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(units=64,activation='relu',input_shape=[len(train_x.keys())]))
model.add(tf.keras.layers.Dense(units=64,activation='relu'))
model.add(tf.keras.layers.Dense(units=1,activation='relu'))

#optimizer = tf.keras.optimizers.RMSprop()

model.compile(loss='mse',optimizer='adam',metrics=[tf.keras.metrics.Accuracy(),'mae'])

In [17]:
model.fit(x=train_x,y=train_y,epochs=10)

Epoch 1/10
2192/2192 [==============================] - 5s 2ms/step - loss: 5760.2603 - accuracy: 0.0000e+00 - mae: 46.6716
Epoch 2/10
2192/2192 [==============================] - 5s 2ms/step - loss: 2034.7378 - accuracy: 0.0000e+00 - mae: 29.7419
Epoch 3/10
2192/2192 [==============================] - 6s 3ms/step - loss: 1702.7726 - accuracy: 0.0000e+00 - mae: 26.3889
Epoch 4/10
2192/2192 [==============================] - 5s 2ms/step - loss: 1418.2715 - accuracy: 0.0000e+00 - mae: 23.6793
Epoch 5/10
2192/2192 [==============================] - 4s 2ms/step - loss: 1275.6589 - accuracy: 0.0000e+00 - mae: 22.3704
Epoch 6/10
2192/2192 [==============================] - 4s 2ms/step - loss: 1183.1931 - accuracy: 0.0000e+00 - mae: 21.4867
Epoch 7/10
2192/2192 [==============================] - 4s 2ms/step - loss: 1111.5223 - accuracy: 0.0000e+00 - mae: 20.7756
Epoch 8/10
2192/2192 [==============================] - 4s 2ms/step - loss: 1060.2479 - accuracy: 0.0000e+00 - mae: 20.2410
Epoch 9/10
2192/2192 [==============================] - 4s 2ms/step - loss: 1021.4131 - accuracy: 0.0000e+00 - mae: 19.8329
Epoch 10/10
2192/2192 [==============================] - 5s 2ms/step - loss: 986.4719 - accuracy: 0.0000e+00 - mae: 19.4690

In [18]:
model.evaluate(x=test_x,y=test_y)

2192/2192 [==============================] - 3s 1ms/step - loss: 957.1645 - accuracy: 0.0000e+00 - mae: 19.1847

[957.1644897460938, 0.0, 19.18467140197754]

In [ ]:
model.predict([])